:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fcfcfc;
  color: #227c9d;
}

h1 {
  text-align: center;
  font-family: Monospace;
  margin: 1rem 0 3rem 0;
  background-color: #227c9d;
  padding: 2rem 0;
  color: #fff;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section {
  min-width: 20rem;
  border: thin solid #227c9d;
  border-radius: 0.3rem;
  margin-bottom: 3rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

section h2,
section p {
  text-align: center;
}

section h3 {
  margin: 1rem 0;
  font-family: Monospace;
  font-size: 3rem;
}

fieldset {
  padding-left: 0;
  padding-right: 0;
  border: none;
}

fieldset input {
  padding: 0.5rem;
}

fieldset i {
  margin: 0 0.2rem;
  padding: 1rem;
}

fieldset i.add {
  color: #17c3b2;
}

fieldset i.subtract {
  color: #fe6d73;
}

.reset {
  border: none;
}

.reset i {
  padding: 1rem;
  font-size: 2rem;
}

.selection span {
  padding: 1rem;
}

.image {
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  width: 300px;
}

.blank {
  background-image: url(./images/rock-paper-scissors.png);
}

.rock {
  background-image: url(./images/rock.jpeg);
}

.paper {
  background-image: url(./images/paper.jpg);
}

.scissors {
  background-image: url(./images/scissors.png);
}

.select-rock.chosen {
  font-weight: bold;
  color: #fe53ab;
}

.select-paper.chosen {
  font-weight: bold;
  color: #fbbc03;
}

.select-scissors.chosen {
  font-weight: bold;
  color: #02c8e2;
}

.display-none {
  display: none;
}

.image.win {
  --border-width: 5px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  :var(--border-width) ;
}

.winner-announce.win {
  --border-width: 5px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  height: auto;
  width: auto;
  :var(--border-width) ;
}

.win::after {
  height: auto;
  width: auto;
  position: absolute;
  content: '';
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
